<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<form action="/employee/search" method="get">-->
<!--    <input type="text" name="keyword" placeholder="Search by name">-->
<!--    <button type="submit">Search</button>-->
<!--</form>-->
<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>ID</th>-->
<!--        <th>Name</th>-->
<!--        <th>Salary</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="employee : ${list}">-->
<!--        <td th:text="${employee.id}"></td>-->
<!--        <td th:text="${employee.name}"></td>-->
<!--        <td th:text="${employee.salary}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
<!--</body>-->
<!--</html>-->